<% if current_user %>
  <h1>My Groups</h1>
  <%= render :partial => 'groups/group_table', :object => current_user.groups %>

  <%= link_to 'New Group', new_group_path %>
<% end %>
<% puts @groups.inspect %>
<h1>All Groups</h1>
<%= render :partial => 'groups/group_table', :object => @groups %>
